.App {
  text-align: center;
  min-height: 100vh;
  width: 100%;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-flow: column;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#dataForm{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#h3contacto{
  width: 100%;
  text-align: center;
}

#dataForm > input {
  border: 2px solid black;
  height: 2.5rem;
  border-radius: 5px;
}

#dataForm > input::placeholder {
  padding-left: 0.5rem;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row wrap;
  justify-content: space-between;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
}

.App-link {
  color: #61dafb;
}

/* div panelinfo */
.panelinfo{
  background-color: white;
  color: black;
  height: rem;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border: 3px solid black;
}
.panelinfo > p{
  width: 100%;
  height: 100%;
  border: 2px solid black;
  margin-bottom: 0;
  font-weight: bold;
}

/* div search engine */
.search-engine{
  background-color: white;
  color: black;
  height: 8rem;
  display: flex;
  flex-flow: column;
  padding: 0.5rem;
  border: 3px solid black;
}

.search-engine > form{
  height: 100%;
/*   height: 8vh; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
/*   max-width: 600px; */
  align-self: center;
  margin-bottom: 0.5rem;
}

.search-engine > form > select{
  margin-right: 0.5rem;
  height: 3rem;
}

.search-engine > form > input{
  width: 350px;
  margin-right: 0.5em;
  height: 3rem;
}

.search-engine > form > button{
  height: 3rem;
}

.search-engine > form > button.btn-secondary{
  margin-right: 0.5em;
}

div.filter-options {
  width: 100%; /* Take the full width */
  margin-top: 1rem; /* Add some space above */
  display: flex;
  flex-direction: row wrap;
  justify-content: space-around;
}

div.filter-options > p {
text-align: left;
}

div.filter-options > p > select{
  width: 7rem;
  height: 2rem;
  margin-bottom: 0.5rem;
}
/* MainBoard */

.MainBoard{
  width: 100%;
  background-color: #282c34;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

/* Atajo */
.divAtajo {
  height: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center; /* Centramos el formulario dentro del div */
  align-items: center;     /* Alineamos verticalmente el formulario */
}

.divAtajo > form {

  height: 100%;
  width: 100%;
/*   max-width: 600px; */
  display: flex;
  flex-wrap: wrap;          /* Permite que los elementos se distribuyan en varias filas */
  justify-content: space-around;  /* Centramos los botones dentro del formulario */
  gap: 1rem;                /* Espacio entre los botones (opcional) */
}

.divAtajo > form > button {
  width: 6rem;
  height: 3rem;
  font-size: 12px
/*   flex: 0 0 30%; */           /* Ajustamos el ancho para asegurar que haya tres botones por fila */
/*   box-sizing: border-box */;   /* Para incluir el padding y el border en el ancho total */
}

/* === filtro === */
/* .filtro{
  background-color: white;
  color: black;
  height: 20vh;
  display: flex;
  flex-flow: column;
  padding: 0.5rem;
}

.filtro > form{
  border: 1px solid red;
  height: 100%;
}

.filtro > form > p{
  text-align: left;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
