.App {
  text-align: center;
  min-height: 100vh;
  width: 100%;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-flow: column;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row wrap;
  justify-content: space-between;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
}

.App-link {
  color: #61dafb;
}

/* div search engine */
.search-engine{
  background-color: white;
  color: black;
  height: 20vh;
  display: flex;
  flex-flow: column;
  padding: 0.5rem;
}

.search-engine > form{

  height: 8vh;
  display: flex;
  justify-content: space-around;
  max-width: 600px;
  align-self: center;
}

.search-engine > form > select{
  margin-right: 0.5rem;
}

.search-engine > form > input{
  width: 350px;
  margin-right: 0.5em;
}

.search-engine > form > button.btn-secondary{
  margin-right: 0.5em;
}

/* MainBoard */

.MainBoard{
  width: 100%;
  background-color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

/* Atajo */
.divAtajo {
  height: 10rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center; /* Centramos el formulario dentro del div */
  align-items: center;     /* Alineamos verticalmente el formulario */
}

.divAtajo > form {

  height: 100%;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;          /* Permite que los elementos se distribuyan en varias filas */
  justify-content: space-between;  /* Centramos los botones dentro del formulario */
  gap: 1rem;                /* Espacio entre los botones (opcional) */
}

.divAtajo > form > button {
  width: 5rem;
  height: 3rem;
  flex: 0 0 30%;            /* Ajustamos el ancho para asegurar que haya tres botones por fila */
  box-sizing: border-box;   /* Para incluir el padding y el border en el ancho total */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
